<footer class="site-footer">
{%- if isYearArchive %}[<a href="/">home</a>] {% endif -%}
{%- for group in (collections.postsByYear | reverse) -%}
[<a href="/{{ group.year }}/">{{ group.year }}</a>]{{ " " }}
{%- endfor -%}
</footer>
