---
layout: base.njk
pagination:
  data: collections.postsByYear
  size: 1
  alias: group
permalink: "/{{ group.year }}/"
eleventyComputed:
  title: "{{ group.year }}"
---
{% import "stream.njk" as stream %}
<nav class="crumbs"><a href="/">home</a></nav>
<h1>{{ group.year }}</h1>
<ul class="stream">
  {%- for post in group.posts %}{{ stream.item(post) }}{% endfor -%}
</ul>
