---
layout: base.njk
permalink: /tags/
title: Tags
---
<nav class="crumbs"><a href="/">home</a></nav>
<h1>Tags</h1>
<ul class="tag-cloud">
  {%- for entry in collections.tagList %}
  <li><a href="/tags/{{ entry.tag }}/">{{ entry.tag }}</a> <span class="tag-count">{{ entry.count }}</span></li>
  {% endfor -%}
</ul>
